.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    padding-top: 0;
    justify-content: center;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bottom-header {
    display: flex;
    justify-content: space-around;
}

.header-box {
    display: flex;
    flex-direction: column;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 400px;
    height: 200px;
}

.image-placeholder p {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.header-box strong {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -14px;
}

.header-box p,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-box button {
    border-radius: 3px;
    background-color: #3882F6;
    color: white;
    padding: 8px 16px;
    width: 150px;
    height: 52.5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Now to the next container*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.container #info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.item .text {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    width: 156px;
}


/*Now to the quote!*/

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 36px;
}

.quote p {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    width: 1000px;
}

.quote strong {
    font-size: 24px;
    text-align: right;
    margin: auto;
}


/*Noww to the blue rounded box!*/

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

.rounded-box {
    background-color: #3882F6;
    border-radius: 8px;
    width: 2000px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

.rounded-box .text {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 0;
}

.rounded-box .text p {
    font-weight: normal;
    font-size: 24px;
}

.rounded-box button {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 24px;
    width: 200px;
    height: 70px;
}


/*YES FINALLY TO THE FOOTER!*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 150px;
    flex: 1;
}

.footer div {
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
}