.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    padding-top: 0;
    justify-content: center;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bottom-header {
    display: flex;
    justify-content: space-around;
}

.header-box {
    display: flex;
    flex-direction: column;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 400px;
    height: 200px;
}

.image-placeholder p {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.header-box strong {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -14px;
}

.header-box p,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-box button {
    border-radius: 3px;
    background-color: #3882F6;
    color: white;
    padding: 8px 16px;
    width: 100px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Now to the next container*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.container #info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.item .text {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    width: 156px;
}